////////////////////////////////////       variables     //////////////////////////////////////////

$stateBlue: #7471fc;
$dark: #343090;
$pink: #af6f74;

$portlandOrange: #fa6330;
$coral: #ff804b;
$platinum: #E5E4E2;
//////////////////////////////// animation ///////////////////////////////////

@keyframes cancelModalAnimation {
  from{
    display: none;
  }
  to{
    display: block;
    
  }
}

/////////////////////////////////       my mixin ///////////////////////////////////

@mixin vc($vc-center:center){
  @if $vc-center == center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @if $vc-center == space-between{
    display: flex;
    align-items: center;
    justify-content: $vc-center;
  }
  @if $vc-center == flex-start{
    display: flex;
    align-items: center;
    justify-content: $vc-center;
  }
}

///////////////////////////////          mixins                ////////////////////////////////////////
@mixin box-overlay {
  // box-shadow: $gray_2;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 85px;
  border-radius: 3px;
}



@mixin btn($width) {
  width: $width;
  border: 1px solid transparent;
  margin: 10px 5px 0 0;
  font-weight: bold;
  font-size: 13px !important;
  // line-height: 17px;
  padding: 6px 12px 6px 12px;
  position: absolute;
  // display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  // white-space: nowrap;
  border-radius: 3px ;
  text-decoration: none ;
  // text-align: center;
  cursor: pointer;
}

@mixin cancel {
  color: #555;
  cursor: pointer;
  font-size: 14px;
  margin: 2px 5px;
}

@mixin transparent-button {
  background-color: transparent;
  border: none;
}

@mixin task-item {
  list-style-type: none;
  display: flex;
  line-height: 18px;
  color: rgb(253, 249, 249);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

////////////////////////////////////////       styling      ////////////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $dark;
  height: calc(100vh);
}

//////////////////////////////////////////       header               //////////////////////////////////////////////


.header {
  background-color: $portlandOrange;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    .logo {
      font-size: 25px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: $dark;
    }

    .settings {
      width: 100px;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        li {
          list-style-type: none;
        }
        li.settings__add,
        li.settings__darkmode {
          font-size: 25px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: $dark;
        }
      }
    }
  }
}
///////////////////////////////////// sidebar //////////////////////////////////////////////////////

.content{
  height: calc(100vh-35px);
  display: flex;
  align-items: stretch;








  .sidebar{
    height: calc(100vh - 35px);
    flex: 2;
    background-color: $platinum;

    &>*{
      margin-left: 20px;
    }
    .sidebar__generic{
      
      display: flex;
      flex-direction: column;
      //padding: 10px 10px;
      margin-bottom: 15px;

      li{
        //margin-bottom: 20px;
        display: flex;
        padding: 10px 10px;
        cursor: pointer;
        .iconSpan{
          font-size: 14px;
          margin-right: 10px;
          @include vc();
        }
        .iconNameSpan{
          font-size: 14px;
          @include vc();
        }
      }
    }

    .sidebar__middle{
      padding: 2px 10px;
      div{
        border-radius: 3px;
        padding: 5px 0px;
      @include vc(flex-start);
      cursor: pointer;
      span{
          @include vc(flex-start);
           margin-right: 10px;
        .hiddenProjects{
          font-size: 14px;
          font-weight: bold;
        }
        > * {
       transition: all 0.3s ease;
        }
        
      }
      h2{
        font-size: 14px;
        font-weight: 500;
      }
      .arrowAnimate{
        transform: rotate(-90deg);
      }
    }
    }


    .sidebar__projects{  //tu sidebar
      list-style: none;
      padding: 0px 10px;
      .sidebar__project{   //li tu Projects
        margin-bottom: 2px;
       
        .singleProject{    //tu IndividualProject
           padding: 4px 2px;
          
          @include vc();
          justify-content: space-between;
          //cursor: pointer;
          .dotAndName{
              padding-left: 1px;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            font-weight: 500;
            color: $dark;
            .sidebar__dot{
              margin-right: 5px;
              font-size: 8px;
             @include vc();

             .icon{
              color: $dark;
             }
           }
          }

          .sidebar__project-delete{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $dark;
            opacity: 1;
             svg{
             &:hover{
               color: red;
               cursor: pointer;
            }
            }
           
            .project-delete-modal{
                position: absolute;
                
              &__inner{
                padding: 10px 5px;
                border-radius: 3px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 40%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                z-index: 99;
               // animation: cancelModalAnimation .5s ;
                P{
                  font-size: 11px;
                  flex: 3;
                  background-color: #fff;
                  width: 100%;
                }
                .buttons{
                  flex: 1;
                  width: 100%;
                  background-color: rgb(95, 134, 132);
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  button{
                    background: $dark;
                    border: none;
                    padding: 10px 5px;
                    border-radius: 3px;
                    width: 20%;
                    margin-bottom: 5px;
                    outline: none;
                  }
                  .delete{
                    cursor: pointer;
                  }
                  .cancel{
                    background-color: $pink;
                    cursor: pointer;
                  }
                }
              }
              
            }
          }

         
          
          
        }
       
        &:hover{
          background-color: $portlandOrange;
          
        }
       &.active{
        //  background-color: $gray_2;

       }
       
      }
    }


    .add-project{
      @include vc(flex-start);
      padding: 5px 7px;
      
      border: 1px solid $platinum;
      cursor: pointer;
      .add-project__input{
        display: flex;
        width: 100%;
        .inputWrapper{

          flex: 4;
          width: 100%;
          @include vc();
          justify-content: center;
          input{
            border-radius:3px 0 0 3px  ;
            width: 100%;
            height: 100%;
            border: none;
            padding:5px 5px;
            outline: none;
          font-size: 14px;
  
        }
        }
        .add-cancel-wrapper{
          flex: 2;
          @include vc();
          justify-content: center;
          .add-project__submit{
            border: none;
            outline: none;
            flex: 1;
            height: 100%;
            font-size: 14px;
            font-weight: 500;
            background-color:$dark;
            color: $portlandOrange;
            cursor: pointer;
            
            // &:hover{
            //   // color: red;
            // }
          }
          .add-project__cancel{
            flex: 1;
            background-color: $portlandOrange;
            font-size: 14px;
            font-weight: 500;
            @include vc();
            justify-content: center;
            color: $dark;
            border-radius: 0 3px 3px 0;
            height: 100%;
          }
        }
      
      }
      .addWrapper{
        @include vc(flex-start);
        padding: 0 5px;
        .add-project__plus{
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          margin-right: 5px;
          color:$dark;


        }
        .add-project__text{
          font-size: 14px;
          @include vc();
          color: $dark;
          font-weight: 500;
        }
      }
    }

    
  }
  














  .tasks{                //component dovvom tooye task
    height: calc(100vh - 35px);
    flex: 8;
    background-color: $platinum;
    position: relative;
    h2{
      padding: 10px 40px;
      
    }
    &__list{       //ul
      background-color: #fff;
      padding: 3px 40px;
      list-style: none;

      li{
        @include vc(flex-start);
        .checkbox-holder{
          // background-color: $white;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid $dark;
          margin-right: 5px;
          cursor: pointer;

          &:hover{
            background-color: $dark;
          }
        }
        span{
          font-size: 14px;
        }
      }
    }

    .add-task {
        
      .add-task__shallow{
        
        padding: 0px 40px;
         display: flex;
         align-items: center;
         
        &__plus{
          @include vc(center);
          padding-right: .5vw;
          font-weight: 500;
          cursor: pointer;
        }

        &__text{
          color: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    
    
      &__main{
      background-color:$platinum;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: visible;
      padding: 10px 5px;
      border-radius: 3px;
      width: 50vw;
      height: 200px;
      .header {
        font-size: 13px;
        margin-bottom: 20px;
        float: left;
      }

      .add-task__content{
        width: 100%;
        border: 1px solid #ddd;
        background-color: white ;
        border-radius: 3px;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
      }

      .taskDateDiv{
        @include box-overlay();
        background-color: $portlandOrange;
        width: 200px;
        right: 10px;
        top: 37%;
        border-radius: 3px;
        .task-date__list{     //ul
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          
          li{ 
            // background-color: rgb(151, 21, 21);
            padding: 3px 0 3px 5px;
            font-size: 14px;
            width: 100%;
            display: flex;
            &:hover{
              // background-color: $gray_2;
              cursor: pointer;
            }
            .iconWrapper{
              align-items: center;
              margin-right: 10px;
              width: 20px;
              height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              .icon{
                font-size: 15px;
                color: $dark;
              }
            }
            .baseProjectName{
              font-size: 14px;
              color: $dark;
            }
          }
        }
      }

      .add-task__submit{
        @include btn(90px);
        font-size: 14px;
        font-weight: 100;
        background-color: $dark;
        color: $platinum;

        bottom:1%;
        left: .5%;
      }
      .add-task__cancel{
        @include btn(90px);
        font-size: 14px;
        font-weight: 500;
        background-color: $portlandOrange;
        color: $dark;
        bottom:1%;
        left: 15%;
      }

      .iconsWrapper{
        position: absolute;
        right: 0;
        top: 25%;
        display: flex;
        align-items: center;
        // background-color: #fff;
        .add-task__project{
         @include vc(center);
         padding: 5px 5px;
          cursor: pointer;
         .icon{
          font-size: 15px;
          &:hover{
            transform: scale(1.1);
          }
         }
        }
  
        .add-task__date{
          // background-color: rgb(177, 83, 83);
          @include vc(center);
         padding: 5px 5px;
         cursor: pointer;
         .icon{
          font-size: 15px;

          &:hover{
            transform: scale(1.1);
          }
         }
        }
      }
    }
  }

  .add-task__overlay{
        background-color: rgb(100, 12, 12);
        position: absolute;
        // top: 300px;
        // left: 300px;
        width: 3px;
        height: 3px;
        z-index: 1000;
  }
  }
}






////////////////////////////// spinner //////////////////////////////////

.spinnerWrapper{
  display: flex;
  justify-content: center;
  width: 89%;
  height: 30px;
  position: relative;
  .loader{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
  }
  .loader,
.loader:before,
.loader:after {
  
  background: $dark;
  display: inline-block;
  animation: load1 .5s infinite ease-in-out;
  width: 1em;
  height: 4em;
  border-radius: 13px;
}
.loader {
  color: $dark;
  text-indent: -9999em;
  position: relative;
  font-size: 4px;
  transform: translateZ(0);
  animation-delay: -0.16s;
  
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

}
